<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Banco UTP</title>
  <base href="/home">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success navbar-dark p-3">
        <div class="container-fluid  ">
          <a class="navbar-brand"  href="#">Banco UTP</a>
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page"  href="http://localhost:3000/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="http://localhost:3000/agregar">Agregar</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://localhost:3000/suscripciones" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Cuentas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item"  href="http://localhost:3000/cancelar2">Lista de Cuentas</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <% cuentas.forEach(function(editar) {%>
        
    <div class="container">
        <h1 class="text-center pt-5">Añadir Clientes</h1>
        <h3 class="text-center">Editar clientes.</h3>
        <div class="row pt-3">
          <div class="col"></div>
          <div class="col-6 pb-5">
            <div class="card p-5">
                <form method="post" action="/editar/<%= editar.key %>">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" name="nombre" placeholder="<%= editar.value.nombre %>">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Tipo de Cuenta:</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"  name="tipoCuenta" placeholder="<%= editar.value.tipo %>">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Numero de Cuenta:</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" name="numeroCuenta" placeholder="<%= editar.value.cuenta %>">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Balance:</label>
                        <input type="number" class="form-control" id="formGroupExampleInput" name="balance" placeholder=" <%= editar.value.balance %>">
                    </div>
                    <div class="row">
                        <div class="col text-center">
                        <input type="hidden" value="<%= editar.value.rev %>" name="rev">
                        <input type="submit" class="btn btn-success  m-3 p5" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
          </div>
          <div class="col"></div>
        </div>
    </div>
    <%}); %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>

